*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
   
}

/* banner styles start */
.banner{
  width: 100%;
  height: 100vh;
  background-image: url("../images/banner/banner3.png");
  background-size: contain;
  background-repeat: no-repeat;
  
}
.banner-title{
  width: 50%;
  text-align: right;
  color: #ffff;
  justify-content: center;
  align-items: center;
  padding-left: 360px;
  padding-top: 140px;
}
.banner-title h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
}


.banner-title p{
  padding: 15px 0;
  font-size: small;
  
}
.btn{
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  color: #005FAC;
  font-size: 16px; 
  font-weight: bold;
}
/* end banner styles */

/* start person styles */
.person{
  
  display: flex;
  margin: 10px 100px;
  align-items: center;
  gap: 10px;
}
.img-person{
  width: 50%;
}
.img-person img{
  width: 350px;
  height: 350px;
  margin-right: 200px;
  background-color: rgba(0, 95, 172, .1);
  border-radius: 50%;
}

.persion-description{
  padding: 20px 0; 
  height: 115px;
  font-size: small; 
  margin-bottom: 80px; 
}
.person-opinion{
  width: 50%;
  margin-bottom: 40px;
}
.persion-description h3{
  font-size: 40px;
  line-height: 47px;

}
.persion-description p, ul{
  font-size: 14px;
  padding-top: 10px;
}
.persion-description ul{
  list-style: none;
}
.persion-description i{
  color: green;
}

/* start plan styles */
.plan{
  margin: 40px 70px;
  text-align: center;
  
}
.plan-title h1{
  font-size: 40px;
}
.plan-items{
  display: flex;
  /* font-size: ; */
  padding: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
   
}
.plan-item-box{
  /* width: 80px; */
  height: auto;
  text-align: center;
  align-items: center;
  padding: 30px;
  
}
.plan-item-box img{
  width: 80px;
  height: 80px;
}
.plan-item-box h3,p{
  font-size: px;
  padding-top: 5px;
} 

.plan-item-box h1{
  font-size: 56px;
  padding: 20px 0;
}

.plan-item-box p{
  color: #474747;
}

/* gradient styles */
.gradient{
  margin: 0 100px;
  background-image: url("../images/watch.png"),linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
  border: .5px solid rgba(0, 95, 172, .1);
  border-radius: 4px;
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 30px 30px;
  
}

.gradient h3{
  font-size: 40px;
}

/* footer style start  */
footer{
  width: 100%;
  margin-top: 50px; 
  background-color: black;
}

.footer{
  display: flex;
  padding: 80px 80px;
  color: white;
  text-align: left;
  align-items: top;
}

.future{
  width: 50%;
    
}
.future h1{
  font-size: 40px;
}
.future p{
  padding-right: 10px;
  padding-bottom: 3px;
  font-size: small;
  color: #999898;
}
.subscribe{
  width: 50%;
  
}
.social-icons{
  display: flex;
  padding-top: 10px;
}
.social-icons img{
  width: 30px;
  height: 10;
  padding-left: 10px;
  padding-top: 10x;
}
.subscribe-items h1{
  padding-bottom: 10px;
  /* font-size: 40px; */
}

.subscribe-items{
  /* width: 60px; */
  padding: 10px 15px;
  justify-content: center;
}
.subscribe-items input{
  width: 300px;
  font-size: small;
  border: none;
  border-radius: 3px;
  padding: 15px 15px;
}
.subscribe-items .btn-s{
  background: #005FAC;
  color: white;
  margin-top: 10px;
  /* font-size: 6px; */
}
